{% extends 'layout.html'%} {%block head%}
<title>flaskBlog</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
   <div id="navbar">
        {% for category in categories %}
        <a href="#" onclick="fillSearch('{{ category }}')">{{ category }}</a>
        {% endfor %}
    </div>
 <script>
        function fillSearch(category) {
            document.getElementById('searchInput').value = category;
var searchBar = document.getElementById('searchBar');

// Check if the "searchBar" div element exists
if (searchBar) {
  // Find the first button element within the "searchBar" div
  var firstButton = searchBar.querySelector('button');

  // Check if a button element was found
  if (firstButton) {
    // Emulate a click on the first button
    firstButton.click();
  } else {
    console.error("No button found within the searchBar div.");
  }
} else {
  console.error("SearchBar div not found.");
}        }


    </script>
{% endblock head %} {%block body%} {% for post in posts %}
<div class="post centeredHorizontally">
  <a class="title textPrimary" href="post/{{post[0]}}">{{post[1]}}</a>
  <div class="content" tag="content">{{post[3]|safe}}</div>
  <a href="post/{{post[0]}}" class="btn btnLink">read more</a>
</div>

{% endfor %} {% endblock body %}
