{% extends 'layout.html'%} {%block head%}
<title>flaskBlog</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
   <div id="navbar" style="left:50%">
        {% for category in categories %}
        <a href="#" onclick="fillSearch('{{ category }}')">{{ category }}</a>
        {% endfor %}
    </div>
 <script>
        function fillSearch(category) {
            document.getElementById('searchInput').value = category;
            var input = category;
    if (input === "" || input.replace(/\s/g, "") === "") {
    } else {
        window.location.href = `/search/${input.replace(/\s/g, "+")}`;
    }  

        }


    </script>
{% endblock head %} {%block body%} {% for post in posts %}
<div class="post centeredHorizontally">
  <a class="title textPrimary" href="post/{{post[0]}}">{{post[1]}}</a>
  <div class="content" tag="content">{{post[3]|safe}}</div>
  <a href="post/{{post[0]}}" class="btn btnLink">read more</a>
</div>

{% endfor %} {% endblock body %}
